<command-bar></command-bar>

<div class="ms-Grid">
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12">
            <h1 class="ms-font-xxl">Элементы</h1>
            <div class="ms-Grid-row">
                <ul class="ms-List">

                    <elements-list></elements-list>

                </ul>
            </div>
        </div>
    </div>


    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12">
            <h1 class="ms-font-xxl">Избранное</h1>
            <div class="ms-Grid-row">
                <ul class="ms-List">

                    <elements-list></elements-list>

                </ul>
            </div>
        </div>
    </div>

</div>