<!--<command-bar (onDataChange)="onDataChange($event)"></command-bar>
-->
<spinner-component *ngIf="loading" [SupportText]="spinnerText"></spinner-component>

<div *ngIf="!loading" class="ms-Grid">
    <p class="m-b-05">количество <span class="color-primary">145</span></p>
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12">
            <div class="page-heading-xxl">
                <div class="ms-PanelExample ms-CommandButton">
                    <button (click)="openPanel()" class="ms-Button ms-CommandButton-button">
                         <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--AddTo"></i></span>
                        <span class="ms-CommandButton-label">Создать</span>
                    </button>
                    <div class="ms-Panel ms-Panel--md">
                        <button class="ms-Panel-closeButton ms-PanelAction-close">
                            <i class="ms-Panel-closeIcon ms-Icon ms-Icon--Cancel"></i>
                        </button>
                        <div class="ms-Panel-contentInner">
                            <p class="ms-Panel-headerText">Medium Panel</p>
                            <div class="ms-Panel-content">
                                <span class="ms-font-m">Content goes here</span>
                            </div>
                        </div>
                    </div>
                </div>

                <h1 class="ms-font-xxl">Элементы</h1>
            </div>
            <div class="ms-Grid-row">
                <elements-list [localElements]="elementsSet" (onSetFavorite)="onDataChange($event)"></elements-list>
            </div>
            <h1 *ngIf="elementsSet.length == 0" class="ms-font-xxl">Нет элементов для отображения</h1>
        </div>
    </div>

    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12">
            <div class="page-heading-xxl">
                <h1 class="ms-font-xxl">Избранное</h1>
            </div>
            <div class="ms-Grid-row">
                <elements-list [localElements]="favoriteSet" (onSetFavorite)="onDataChange($event)"></elements-list>
            </div>
            <h1 *ngIf="favoriteSet.length == 0" class="ms-font-xxl">Список избранного пуст</h1>
        </div>
    </div>

</div>