<command-bar (onDataChange)="onDataChange($event)"></command-bar>
<spinner-component *ngIf="loading" [SupportText]="spinnerText"></spinner-component>

<div *ngIf="!loading" class="ms-Grid">
    <p>Count 145</p>
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12">
            <div class="page-heading-xxl">
                <div class="ms-CommandButton">
                  <button class="ms-CommandButton-button">
                    <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--AddTo"></i></span>
                    <span class="ms-CommandButton-label">Создать</span>
                  </button>
                </div>



<div class="ms-PanelExample">
  <button class="ms-Button">
    <span class="ms-Button-label">Open Panel</span>
  </button>
  <div class="ms-Panel ms-Panel--md">
    <button class="ms-Panel-closeButton ms-PanelAction-close">
      <i class="ms-Panel-closeIcon ms-Icon ms-Icon--Cancel"></i>
    </button>
    <div class="ms-Panel-contentInner">
      <p class="ms-Panel-headerText">Medium Panel</p>
      <div class="ms-Panel-content">
        <span class="ms-font-m">Content goes here</span>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var PanelExamples = document.getElementsByClassName("ms-PanelExample");
  for (var i = 0; i < PanelExamples.length; i++) {
    (function() {
      var PanelExampleButton = PanelExamples[i].querySelector(".ms-Button");
      var PanelExamplePanel = PanelExamples[i].querySelector(".ms-Panel");
      PanelExampleButton.addEventListener("click", function(i) {
        new fabric['Panel'](PanelExamplePanel);
      });
    }());
  }
</script>



                <h1 class="ms-font-xxl">Элементы</h1>
            </div>
            <div class="ms-Grid-row">
                <elements-list [localElements]="elementsSet" (onSetFavorite)="onDataChange($event)"></elements-list>
            </div>
            <h1 *ngIf="elementsSet.length == 0" class="ms-font-xxl">Нет элементов для отображения</h1>
        </div>
    </div>

    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12">
            <div class="page-heading-xxl">
                <h1 class="ms-font-xxl">Избранное</h1>
            </div>
            <div class="ms-Grid-row">
                <elements-list [localElements]="favoriteSet" (onSetFavorite)="onDataChange($event)"></elements-list>
            </div>
            <h1 *ngIf="favoriteSet.length == 0" class="ms-font-xxl">Список избранного пуст</h1>
        </div>
    </div>

</div>