<command-bar (onDataChange)="onDataChange()"></command-bar>

<div class="ms-Grid">
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12">
            <h1 class="ms-font-xxl">Элементы</h1>
            <div class="ms-Grid-row">
                    <elements-list [localElements]="elementsSet" (onSetFavorite)="onDataChange()"></elements-list>
            </div>
        </div>
    </div>

    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12">
            <h1 class="ms-font-xxl">Избранное</h1>
            <div class="ms-Grid-row">
                <elements-list [localElements]="favoriteSet" (onSetFavorite)="onDataChange()"></elements-list>
            </div>
        </div>
    </div>

</div>