<add-note-dialog [parentElement]="element" (onAddNote)="dataChange($event)"></add-note-dialog>
<view-message-dialog></view-message-dialog>
<edit-note-dialog (onSaveNote)="dataChange($event)"></edit-note-dialog>
<delete-note-dialog (onDeleteNote)="dataChange($event)"></delete-note-dialog>
<view-members-dialog [currentElement]="element"></view-members-dialog>
<add-members-dialog [currentElement]="element"></add-members-dialog>

<detail-command-bar [addMemberDialog]="addMemberDialog" [memberViewDlg]="membersViewDialog" [addNoteDialogLocal]="addNoteDialog" (onDataChange)="dataChange($event)" [currentElement]="element"></detail-command-bar>

<breadcrumbs [parentElementsList]="breadcrumbs"></breadcrumbs>

<spinner-component *ngIf="loading" [SupportText]="spinnerText"></spinner-component>

<div *ngIf="hasError" class="ms-MessageBar ms-MessageBar--error">
    <div class="ms-MessageBar-content">
        <div class="ms-MessageBar-icon">
            <i class="ms-Icon ms-Icon--xCircle"></i>
        </div>
        <div class="ms-MessageBar-text">
            {{ errorMessage }}
        </div>
    </div>
</div>

<div *ngIf="!loading" class="ms-Grid">
    <div class="ms-Grid-row">
        <div class="ms-List-item ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg8 ms-u-xl5">
            <h2 class="ms-font-xl">Сообщения</h2>
            <messages-list [addNoteDialogLocal]="addNoteDialog" [viewMessageDialog]="viewMessageDialog" [localMessages]="messagesSet">Загрузка ...</messages-list>
            <h2 *ngIf="messagesSet.length == 0" class="ms-font-xl">Нет сообщений для отображения</h2>
        </div>
        <div class="ms-List-item ms-Grid-col ms-u-sm12 ms-u-md6 ms-u-lg4 ms-u-xl4">
            <h2 class="ms-font-xl">Заметки</h2>
            <notes-list [deleteNoteDialog]="deleteNoteDialog" [editNoteDialog]="editNoteDialog" [localNotes]="notesSet">Загрузка ...</notes-list>
            <h2 *ngIf="notesSet.length == 0" class="ms-font-xl">Нет заметок для отображения</h2>
        </div>
        <div class="ms-List-item ms-Grid-col ms-u-sm12 ms-u-md6 ms-u-lg12 ms-u-xl3">
            <h2 class="ms-font-xl">Элементы</h2>
            <div class="ms-Grid-row">
                <elements-list-var [localElements]="elementsSet" (onSetFavorite)="dataChange($event)">Загрузка ...</elements-list-var>
            </div>
            <h2 *ngIf="elementsSet.length == 0" class="ms-font-xl">Нет элементов для отображения</h2>
        </div>
    </div>
</div>
