<ul class="ms-List">
    <li *ngFor="let element of elementService.elementsSet" class="ms-List-item ms-Grid-col ms-u-sm12 ms-u-md6 ms-u-xl4 m-b-1">
        <div class="ms-ListItem is-unread">

        <span class="ms-ListItem-secondaryText">
            <a class="ms-Link"
               href="/{{ element.id }}"
               title="{{ element.name }}"
            >{{ element.name }}</a>
        </span>

            <span class="ms-ListItem-secondaryText">{{ element.first_name }} {{ element.last_name }}</span>
            <span class="ms-ListItem-tertiaryText">{{ element.description }}</span>
            <span class="ms-ListItem-metaText">{{ element.created_at|date:'hh:mm dd.MM.yyyy' }}</span>
            <div class="ms-ListItem-selectionTarget"></div>

            <div class="ms-ListItem-actions">
                <div (click)="gotoDetail(element)" class="ms-ListItem-action"><i class="ms-Icon ms-Icon--Flag"></i></div>
            </div>
        </div>
    </li>
</ul>