<add-note-dialog [parentElement]="element" (onAddNote)="dataChange($event)"></add-note-dialog>
<view-message-dialog></view-message-dialog>
<edit-note-dialog (onSaveNote)="dataChange($event)"></edit-note-dialog>
<delete-note-dialog (onDeleteNote)="dataChange($event)"></delete-note-dialog>
<view-members-dialog [currentElement]="element"></view-members-dialog>
<add-members-dialog [currentElement]="element"></add-members-dialog>
<!--
<detail-command-bar [addMemberDialog]="addMemberDialog" [memberViewDlg]="membersViewDialog" [addNoteDialogLocal]="addNoteDialog" (onDataChange)="dataChange($event)" [currentElement]="element"></detail-command-bar>
-->
<div class="ms-Grid">
    <breadcrumbs [parentElementsList]="breadcrumbs"></breadcrumbs>


    <spinner-component *ngIf="loading" [SupportText]="spinnerText"></spinner-component>

    <div *ngIf="hasError" class="ms-MessageBar ms-MessageBar--error">
        <div class="ms-MessageBar-content">
            <div class="ms-MessageBar-icon">
                <i class="ms-Icon ms-Icon--xCircle"></i>
            </div>
            <div class="ms-MessageBar-text">
                {{ errorMessage }}
            </div>
        </div>
    </div>

    <div *ngIf="!loading">

        <div class="page-heading-xxl">
            <div class="ms-fontSize-xl">{{ element.name }}</div>
            <div>{{ element.created_at|date:'dd.MM.yyyy hh:mm' }}
                {{ element.first_name }} {{ element.last_name }}
            </div>
            <div>&nbsp;</div>
            <div class="ms-fontSize-l">{{ element.description }}</div>
            <div>&nbsp;</div>
        </div>


        <div class="ms-Grid-row">
            <div class="ms-List-item ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg4 ms-u-xl4">
                <p class="m-b-05 ms-u-textAlignRight"><span class="color-primary">145</span> (200)</p>
                <div class="page-heading">
                    <div class="ms-PanelExample th-CommandButton">
                        <button (click)="openPanel()" class="ms-Button th-Button-Icon">
                            <i class="ms-Icon ms-Icon--AddTo"></i>
                        </button>
                        <div class="ms-Panel ms-Panel--md">
                            <button class="ms-Panel-closeButton ms-PanelAction-close">
                                <i class="ms-Panel-closeIcon ms-Icon ms-Icon--Cancel"></i>
                            </button>
                            <div class="ms-Panel-contentInner">
                                <p class="ms-Panel-headerText">Medium Panel</p>
                                <div class="ms-Panel-content">
                                    <span class="ms-font-m">Content goes here</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>Сообщения</h4>
                </div>
                <messages-list [addNoteDialogLocal]="addNoteDialog" [viewMessageDialog]="viewMessageDialog"
                               [localMessages]="messagesSet">Загрузка ...
                </messages-list>
                <h2 *ngIf="messagesSet.length == 0" class="ms-font-xl">Нет сообщений для отображения</h2>
            </div>
            <div class="ms-List-item ms-Grid-col ms-u-sm12 ms-u-md6 ms-u-lg4 ms-u-xl4">
                <p class="m-b-05 ms-u-textAlignRight"><span class="color-primary">145</span> (200)</p>
                <div class="page-heading">
                    <div class="ms-PanelExample th-CommandButton">
                        <button (click)="openPanel()" class="ms-Button th-Button-Icon">
                            <i class="ms-Icon ms-Icon--AddTo"></i>
                        </button>
                        <div class="ms-Panel ms-Panel--md">
                            <button class="ms-Panel-closeButton ms-PanelAction-close">
                                <i class="ms-Panel-closeIcon ms-Icon ms-Icon--Cancel"></i>
                            </button>
                            <div class="ms-Panel-contentInner">
                                <p class="ms-Panel-headerText">Medium Panel</p>
                                <div class="ms-Panel-content">
                                    <span class="ms-font-m">Content goes here</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>Заметки</h4>
                </div>
                <notes-list [deleteNoteDialog]="deleteNoteDialog" [editNoteDialog]="editNoteDialog"
                            [localNotes]="notesSet">Загрузка ...
                </notes-list>
                <h2 *ngIf="notesSet.length == 0" class="ms-font-xl">Нет заметок для отображения</h2>
            </div>
            <div class="ms-List-item ms-Grid-col ms-u-sm12 ms-u-md6 ms-u-lg4 ms-u-xl4">
                <p class="m-b-05 ms-u-textAlignRight"><span class="color-primary">145</span> (200)</p>
                <div class="page-heading">
                    <div class="ms-PanelExample th-CommandButton">
                        <button (click)="openPanel()" class="ms-Button th-Button-Icon">
                            <i class="ms-Icon ms-Icon--AddTo"></i>
                        </button>
                        <div class="ms-Panel ms-Panel--md">
                            <button class="ms-Panel-closeButton ms-PanelAction-close">
                                <i class="ms-Panel-closeIcon ms-Icon ms-Icon--Cancel"></i>
                            </button>
                            <div class="ms-Panel-contentInner">
                                <p class="ms-Panel-headerText">Medium Panel</p>
                                <div class="ms-Panel-content">
                                    <span class="ms-font-m">Content goes here</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>Элементы</h4>
                </div>

                <div class="ms-Grid-row">
                    <elements-list-var [localElements]="elementsSet" (onSetFavorite)="dataChange($event)">Загрузка ...
                    </elements-list-var>
                </div>
                <h2 *ngIf="elementsSet.length == 0" class="ms-font-xl">Нет элементов для отображения</h2>
            </div>
        </div>
    </div>
</div>