<div *ngFor="let note of localNotes">
    <div class="ms-Card">
        <div class="ms-Card-header">
            <div class="ms-Card-primaryText">{{ note.subject }}</div>
            <div class="ms-Card-secondaryText">{{ note.first_name }} {{ note.last_name }}</div>
            <div class="ms-Card-tertiaryText">{{ note.body }}
            </div>
            <div class="ms-Card-optionalText ms-fontColor-themePrimary">{{ note.created_at|date:'dd.MM.yyyy hh:mm' }}</div>
        </div>
        <ul class="ms-Card-actions">
            <li *ngIf="note.message" data-action-id="chat" class="ms-Card-action is-active" tabindex="1"><i
                    class="ms-Icon ms-Icon--Mail"></i></li>
            <li (click)="onEditNoteClick()" data-action-id="phone" class="ms-Card-action " tabindex="2"><i
                    class="ms-Icon ms-Icon--Edit"></i></li>
            <li (click)="onDeleteNoteClick()" data-action-id="video" class="ms-Card-action" tabindex="3"><i
                    class="ms-Icon ms-Icon--Delete"></i></li>
            <li (click)="onViewNoteClick(note)" class="ms-Card-overflow" alt="Просмотерть полностью" title="Просмотерть полностью">Детально
                ...
            </li>
            <li data-action-id="favorite" class="ms-Card-action ms-Card-orgChart" tabindex="5"><i
                    [ngClass]="{'ms-Icon':true,'ms-fontColor-red ms-Icon--Lock': note.private_note, ' ms-Icon--Unlock': !note.private_note}"></i></li>
        </ul>

        <div *ngIf="note.message" class="ms-Card-actionDetailBox">
            <div class="ms-Card-details is-active">
                <div class="ms-Card-detailLine"><span class="ms-Card-detailLabel">Сообщение:</span> <a
                        class="ms-Link">Ссылка на сообщение</a></div>
            </div>
        </div>
    </div>
    <br>
</div>