{% load custom_tags %}
{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% site_name_simple_tag %}</title>
    <link rel="stylesheet" href="{% static 'css/reset200802.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/office-ui-fabric-js/dist/css/fabric.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/office-ui-fabric-js/dist/css/fabric.components.min.css' %}">
    <link rel="stylesheet" href="{% static 'sass/app.css' %}">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <script src="{% static 'node_modules/office-ui-fabric-js/dist/js/fabric.js' %}"></script>
    <script src="{% static 'node_modules/office-ui-fabric-js/dist/js/fabric.templates.js' %}"></script>
    <script src="{% static 'node_modules/office-ui-fabric-js/dist/lib/PickaDate.js' %}"></script>

    {% block angular_script %}{% endblock %}

    {% block heads_script %}{% endblock %}
    {% block heads_style %}{% endblock %}

</head>

<body>

{% block content %}{% endblock %}

{% block body_script %}{% endblock %}

</body>
</html>