{% extends "base.html" %}
{% load custom_tags %}

{% block content %}

    <div class="th-body">

        <header>
            {% nav_bar %}
        </header>

        <div class="ms-CommandBar ms-u-hiddenMdDown">
            <div class="ms-CommandBar-sideCommands">
                <div class="ms-CommandButton">
                    <button class="ms-CommandButton-button">
                        <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Tiles"></i></span><span class="ms-CommandButton-label">Вид</span><span class="ms-CommandButton-dropdownIcon"><i class="ms-Icon ms-Icon--ChevronDown"></i></span>
                    </button>
                    <ul class="ms-ContextualMenu is-opened ms-ContextualMenu--hasIcons" style="width: 100px;">
                        <li class="ms-ContextualMenu-item">
                            <a class="ms-ContextualMenu-link " tabindex="1">Список</a>
                            <i class="ms-Icon ms-Icon--List"></i>
                        </li>
                        <li class="ms-ContextualMenu-item">
                            <a class="ms-ContextualMenu-link " tabindex="1">White board</a>
                            <i class="ms-Icon ms-Icon--Tiles"></i>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="ms-CommandBar-mainArea">
                <div class="ms-CommandButton">
                    <button class="ms-CommandButton-button">
                        <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--CirclePlus"></i></span><span class="ms-CommandButton-label">Создать</span><span class="ms-CommandButton-dropdownIcon"><i class="ms-Icon ms-Icon--ChevronDown"></i></span>
                    </button>
                    <ul class="ms-ContextualMenu is-opened ms-ContextualMenu--hasIcons" style="width: 100px;">
                        <li class="ms-ContextualMenu-item">
                            <a class="ms-ContextualMenu-link " tabindex="1">Элемент</a>
                            <i class="ms-Icon ms-Icon--List"></i>
                        </li>
                        <li class="ms-ContextualMenu-item">
                            <a class="ms-ContextualMenu-link " tabindex="1">Сообщение</a>
                            <i class="ms-Icon ms-Icon--Tiles"></i>
                        </li>
                        <li class="ms-ContextualMenu-item">
                            <a class="ms-ContextualMenu-link " tabindex="1">Заметка</a>
                            <i class="ms-Icon ms-Icon--Tiles"></i>
                        </li>
                    </ul>
                </div>
                <div class="ms-CommandButton">
                    <button class="ms-CommandButton-button"><span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Edit"></i></span><span class="ms-CommandButton-label">Изменить</span></button>
                </div>
                <div class="ms-CommandButton">
                    <button class="ms-CommandButton-button"><span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Delete"></i></span><span class="ms-CommandButton-label">Удалить</span></button>
                </div>
                <div class="ms-CommandButton">
                    <button class="ms-CommandButton-button">
                        <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Filter"></i></span>
                        <span class="ms-CommandButton-label">Отбор</span>
                        <span class="ms-CommandButton-dropdownIcon"><i class="ms-Icon ms-Icon--ChevronDown"></i></span>
                    </button>
                    <ul class="ms-ContextualMenu is-opened ms-ContextualMenu--hasIcons" style="width: 100px;">
                        <li class="ms-ContextualMenu-item">
                            <a class="ms-ContextualMenu-link " tabindex="1">Фильтр 1</a>
                            <i class="ms-Icon ms-Icon--List"></i>
                        </li>
                        <li class="ms-ContextualMenu-item">
                            <a class="ms-ContextualMenu-link " tabindex="1">Фильтр 2</a>
                            <i class="ms-Icon ms-Icon--Tiles"></i>
                        </li>
                    </ul>
                </div>
                <div class="ms-CommandButton">
                    <button class="ms-CommandButton-button">
                        <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--People"></i></span>
                        <span class="ms-CommandButton-label">Пользователи</span>
                        <span class="ms-CommandButton-dropdownIcon"><i class="ms-Icon ms-Icon--ChevronDown"></i></span>
                    </button>
                    <ul class="ms-ContextualMenu is-opened ms-ContextualMenu--hasIcons" style="width: 100px;">
                        <li class="ms-ContextualMenu-item">
                            <a class="ms-ContextualMenu-link " tabindex="1">Добавить</a>
                            <i class="ms-Icon ms-Icon--CirclePlus"></i>
                        </li>
                        <li class="ms-ContextualMenu-item">
                            <a class="ms-ContextualMenu-link " tabindex="1">Участники</a>
                            <i class="ms-Icon ms-Icon--List"></i>
                        </li>
                    </ul>
                </div>
                <div class="ms-CommandButton ms-CommandBar-overflowButton ms-CommandButton--noLabel  ">
                    <button class="ms-CommandButton-button">
                        <span class="ms-CommandButton-icon "><i class="ms-Icon ms-Icon--More"></i></span><span class="ms-CommandButton-label"></span></button>

                    <ul class="ms-ContextualMenu  is-opened ms-ContextualMenu--hasIcons">
                        <li class="ms-ContextualMenu-item ">
                            <a class="ms-ContextualMenu-link " tabindex="1">Folder</a>
                            <i class="ms-Icon ms-Icon--Folder "></i>
                        </li>
                        <li class="ms-ContextualMenu-item ms-ContextualMenu-item--divider"></li>
                        <li class="ms-ContextualMenu-item ">
                            <a class="ms-ContextualMenu-link " tabindex="1">Plain Text Document</a>
                            <i class="ms-Icon ms-Icon--Page "></i>
                        </li>
                        <li class="ms-ContextualMenu-item ">
                            <a class="ms-ContextualMenu-link " tabindex="1">A Coffee</a>
                            <i class="ms-Icon ms-Icon--Coffee "></i>
                        </li>
                        <li class="ms-ContextualMenu-item ">
                            <a class="ms-ContextualMenu-link " tabindex="1">Picture</a>
                            <i class="ms-Icon ms-Icon--Picture "></i>
                        </li>
                        <li class="ms-ContextualMenu-item ">
                            <a class="ms-ContextualMenu-link " tabindex="1">Money</a>
                            <i class="ms-Icon ms-Icon--Money "></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <main>
            <div class="ms-Grid">
                <div class="ms-Breadcrumb ">
                    <ul class="ms-Breadcrumb-list">
                        <li class="ms-Breadcrumb-listItem">
                            <a class="ms-Breadcrumb-itemLink" tabindex="0">Главная</a>
                            <i class="ms-Breadcrumb-chevron ms-Icon ms-Icon--ChevronRight"></i>
                        </li>
                        <li class="ms-Breadcrumb-listItem">
                            <a class="ms-Breadcrumb-itemLink" tabindex="0">Имя элемента</a>
                            <i class="ms-Breadcrumb-chevron ms-Icon ms-Icon--ChevronRight"></i>
                        </li>
                        <li class="ms-Breadcrumb-listItem">
                            <a class="ms-Breadcrumb-itemLink" tabindex="0">Имя элемента</a>
                            <i class="ms-Breadcrumb-chevron ms-Icon ms-Icon--ChevronRight"></i>
                        </li>
                    </ul>
                </div>
                <h1 class="ms-font-xxl">Элементы: Название элемента №1</h1>
                <div class="ms-Grid-row">
                    <div class="ms-Grid-col ms-u-sm12">
                        <div class="ms-Grid-row">
                            <div class="ms-List">
                                <div class="ms-List-item ms-Grid-col ms-u-sm12 ms-u-xl6">
                                    <h2 class="ms-font-xxl">Сообщения</h2>
                                    <ul class="ms-List">
                                        <li class="ms-List-item m-b-1 ms-u-borderBase ms-borderColor-themeDarker">
                                            <div class="ms-ListItem">
                                                <span class="ms-ListItem-primaryText">Cообщение</span>
                                            </div>
                                        </li>
                                        <li class="ms-List-item m-b-1 ms-u-borderBase ms-borderColor-orangeLight">
                                            <div class="ms-ListItem">
                                                <span class="ms-ListItem-primaryText">Cообщение</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="ms-List-item ms-Grid-col ms-u-sm12 ms-u-xl6">
                                    <h2 class="ms-font-xxl">Заметки</h2>
                                    <ul class="ms-List">
                                        <li class="ms-List-item m-b-1 ms-bgColor-themeLighter">
                                            <div class="ms-ListItem">
                                                <span class="ms-ListItem-primaryText">Заметка 1</span>
                                                <span class="ms-ListItem-tertiaryText">Today we discussed the importance of a, b, and c in regards to d.</span>
                                            </div>
                                        </li>
                                        <li class="ms-List-item m-b-1 ms-Card">
                                            <div class="ms-ListItem">
                                                <span class="ms-ListItem-primaryText">Заметка 2</span>
                                                <span class="ms-ListItem-tertiaryText">Today we discussed the importance of a, b, and c in regards to d.</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ms-u-clearfix"></div>
        </main>
    </div>

  <footer-elements>
    <div class="ms-Grid">
      <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12">
          <h1 class="ms-font-xxl">Элементы</h1>
          <div class="ms-Grid-row">
            <ul class="ms-List">
              <li class="ms-List-item ms-Grid-col ms-u-sm12 ms-u-md6 ms-u-xl4 m-b-1">
                <div class="ms-ListItem is-unread">
                  <span class="ms-ListItem-primaryText">Заголовок</span>
                  <span class="ms-ListItem-secondaryText">Автор</span>
                  <span class="ms-ListItem-tertiaryText">Today we discussed the importance of a, b, and c in regards to d.</span>
                  <span class="ms-ListItem-metaText">2:42p</span>
                  <div class="ms-ListItem-selectionTarget"></div>
                  <div class="ms-ListItem-actions">
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--attachment"></i></div>
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--x"></i></div>
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--flag"></i></div>
                  </div>
                </div>
              </li>
              <li class="ms-List-item ms-Grid-col ms-u-sm12 ms-u-md6 ms-u-xl4 m-b-1">
                <div class="ms-ListItem is-unread">
                  <span class="ms-ListItem-primaryText">Заголовок</span>
                  <span class="ms-ListItem-secondaryText">Автор</span>
                  <span class="ms-ListItem-tertiaryText">Today we discussed the importance of a, b, and c in regards to d.</span>
                  <span class="ms-ListItem-metaText">2:42p</span>
                  <div class="ms-ListItem-selectionTarget"></div>
                  <div class="ms-ListItem-actions">
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--attachment"></i></div>
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--x"></i></div>
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--flag"></i></div>
                  </div>
                </div>
              </li>
              <li class="ms-List-item ms-Grid-col ms-u-sm12 ms-u-md6 ms-u-xl4 m-b-1">
                <div class="ms-ListItem is-unread">
                  <span class="ms-ListItem-primaryText">Заголовок</span>
                  <span class="ms-ListItem-secondaryText">Автор</span>
                  <span class="ms-ListItem-tertiaryText">Today we discussed the importance of a, b, and c in regards to d.</span>
                  <span class="ms-ListItem-metaText">2:42p</span>
                  <div class="ms-ListItem-selectionTarget"></div>
                  <div class="ms-ListItem-actions">
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--attachment"></i></div>
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--x"></i></div>
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--flag"></i></div>
                  </div>
                </div>
              </li>
              <li class="ms-List-item ms-Grid-col ms-u-sm12 ms-u-md6 ms-u-xl4 m-b-1">
                <div class="ms-ListItem is-unread">
                  <span class="ms-ListItem-primaryText">Заголовок</span>
                  <span class="ms-ListItem-secondaryText">Автор</span>
                  <span class="ms-ListItem-tertiaryText">Today we discussed the importance of a, b, and c in regards to d.</span>
                  <span class="ms-ListItem-metaText">2:42p</span>
                  <div class="ms-ListItem-selectionTarget"></div>
                  <div class="ms-ListItem-actions">
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--attachment"></i></div>
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--x"></i></div>
                    <div class="ms-ListItem-action"><i class="ms-Icon ms-Icon--flag"></i></div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer-elements>

{% endblock %}


{% block body_script %}

    <script type="text/javascript">
        var CommandButtonElements = document.querySelectorAll(".ms-CommandButton");
        for (var i = 0; i < CommandButtonElements.length; i++) {
            new fabric['CommandButton'](CommandButtonElements[i]);
        }
    </script>
    <script type="text/javascript">
        var CommandBarElements = document.querySelectorAll(".ms-CommandBar");
        for (var i = 0; i < CommandBarElements.length; i++) {
            new fabric['CommandBar'](CommandBarElements[i]);
        }
    </script>
    <script type="text/javascript">
        var DropdownHTMLElements = document.querySelectorAll('.ms-Dropdown');
        for (var i = 0; i < DropdownHTMLElements.length; ++i) {
            var Dropdown = new fabric['Dropdown'](DropdownHTMLElements[i]);
        }
    </script>
    <script type="text/javascript">
        var PanelExamples = document.getElementsByClassName("ms-PanelExample");
        for (var i = 0; i < PanelExamples.length; i++) {
            (function () {
                var PanelExampleButton = PanelExamples[i].querySelector(".ms-CommandButton-button");
                var PanelExamplePanel = PanelExamples[i].querySelector(".ms-Panel");
                PanelExampleButton.addEventListener("click", function (i) {
                    new fabric['Panel'](PanelExamplePanel);
                });
            }());
        }
    </script>

{% endblock %}
