<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invitation email</title>
</head>
<body>
<p>Вам пришло приглашение от {{ owner_name }} для участия в совместной работе над элементом {{ element_name }}</p>
<p>Что бы принять предложение для участия в совместноей работе на элементом "{{ element_name }}" перейдите по ссылке ниже </p>
<a href="{{ accept_url }}">Принять приглашение</a>
<br>
<p>Что бы отклонить предложение перейдите по ссылке</p>
<a href="{{ decline_url }}">Отклонить приглашение</a>

</body>
</html>