{% extends "base_django_template.html" %}
{% load custom_tags %}

{% block content %}
<div class="th-body">

        <header>
            {% nav_bar %}
        </header>
    <div class="ms-Grid">
        <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm4">
                <div class="ms-PersonaCard ">
                    <div class="ms-PersonaCard-persona">
                        <div class="ms-Persona ms-Persona--lg">
                            <div>
                                <div class="ms-Persona-primaryText">Заголовок элемента</div>
                                <div class="ms-Persona-secondaryText">ФИО автора</div>
                                <div class="ms-Persona-tertiaryText">Главный тренер сборной Украины Андрей Шевченко пообщался с прессой накануне матча против Косово, который уже завтра состоится в Кракове.</div>
                                <div class="ms-Persona-tertiaryText">16:00 27.01.2016</div>
                            </div>
                        </div>
                    </div>
                    <ul class="ms-PersonaCard-actions">
                        <li class="ms-PersonaCard-overflow" alt="Перейти к элементу" title="Перейти к элементу">Перейти ...</li>
                        <li data-action-id="favorite" class="ms-PersonaCard-action ms-PersonaCard-orgChart" alt="Добавить в избранное" title="Добавить в избранное" tabindex="5"><i class="ms-Icon ms-Icon--Flag"></i></li>
                    </ul>
                </div>
                <br>
                <div class="ms-PersonaCard ">
                    <div class="ms-PersonaCard-persona">
                        <div class="ms-Persona ms-Persona--lg">
                            <div>
                                <div class="ms-Persona-primaryText">Тема сообщения</div>
                                <div class="ms-Persona-secondaryText">ФИО автора (user@mail.ru)</div>
                                <div class="ms-Persona-tertiaryText">Главный тренер сборной Украины Андрей Шевченко пообщался с прессой накануне матча против Косово, который уже завтра состоится в Кракове.</div>
                                <div class="ms-Persona-tertiaryText">16:00 27.01.2016</div>
                            </div>
                        </div>
                    </div>
                    <ul class="ms-PersonaCard-actions">
                        <li data-action-id="chat" class="ms-PersonaCard-action" tabindex="1" alt="Добавить заметку" title="Добавить заметку"><i class="ms-Icon ms-Icon--Chat"></i></li>
                        <li class="ms-PersonaCard-overflow" alt="Просмотерть полностью" title="Просмотерть полностью">Детально ...</li>
                    </ul>
                </div>
                <br>
                <div class="ms-PersonaCard ">
                    <div class="ms-PersonaCard-persona">
                        <div class="ms-Persona ms-Persona--lg">
                            <div>
                                <div class="ms-Persona-primaryText">Тема Заметки</div>
                                <div class="ms-Persona-secondaryText">ФИО автора (user@mail.ru)</div>
                                <div class="ms-Persona-tertiaryText">Главный тренер сборной Украины Андрей Шевченко пообщался с прессой накануне матча против Косово, который уже завтра состоится в Кракове.</div>
                            </div>
                        </div>
                        <div class="ms-font-s ms-fontColor-themePrimary">16:00 27.01.2016</div>
                    </div>
                    <ul class="ms-PersonaCard-actions">
                        <li data-action-id="chat" class="ms-PersonaCard-action is-active" tabindex="1"><i class="ms-Icon ms-Icon--Mail"></i></li>
                        <li data-action-id="phone" class="ms-PersonaCard-action " tabindex="2"><i class="ms-Icon ms-Icon--Edit"></i></li>
                        <li data-action-id="video" class="ms-PersonaCard-action" tabindex="3"><i class="ms-Icon ms-Icon--Delete"></i></li>
                        <li class="ms-PersonaCard-overflow" alt="Просмотерть полностью" title="Просмотерть полностью">Детально ...</li>
                        <li data-action-id="favorite" class="ms-PersonaCard-action ms-PersonaCard-orgChart" tabindex="5"><i class="ms-Icon ms-Icon--Lock"></i></li>
                    </ul>

                    <div class="ms-PersonaCard-actionDetailBox">
                        <div data-detail-id="mail" class="ms-PersonaCard-details is-active">
                            <div class="ms-PersonaCard-detailLine"><span class="ms-PersonaCard-detailLabel">Сообщение:</span> <a class="ms-Link" >Ссылка на заметкку</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ms-Grid-col ms-u-sm4">
                  <div class="ms-Card ">
                    <div class="ms-Card-header">
                        <div class="ms-Card-primaryText">Тема Заметки</div>
                        <div class="ms-Card-secondaryText">ФИО автора (user@mail.ru)</div>
                        <div class="ms-Card-tertiaryText">Главный тренер сборной Украины Андрей Шевченко пообщался с прессой накануне матча против Косово, который уже завтра состоится в Кракове.</div>
                        <div class="ms-Card-optionalText ms-fontColor-themePrimary">16:00 27.01.2016</div>
                    </div>
                    <ul class="ms-Card-actions">
                        <li data-action-id="chat" class="ms-Card-action is-active" tabindex="1"><i class="ms-Icon ms-Icon--Mail"></i></li>
                        <li data-action-id="phone" class="ms-Card-action " tabindex="2"><i class="ms-Icon ms-Icon--Edit"></i></li>
                        <li data-action-id="video" class="ms-Card-action" tabindex="3"><i class="ms-Icon ms-Icon--Delete"></i></li>
                        <li class="ms-Card-overflow" alt="Просмотерть полностью" title="Просмотерть полностью">Детально ...</li>
                        <li data-action-id="favorite" class="ms-Card-action ms-Card-orgChart" tabindex="5"><i class="ms-Icon ms-Icon--Lock"></i></li>
                    </ul>

                    <div class="ms-Card-actionDetailBox">
                        <div class="ms-Card-details is-active">
                            <div class="ms-Card-detailLine"><span class="ms-Card-detailLabel">Сообщение:</span> <a class="ms-Link" >Ссылка на заметкку</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Новые сообщение -->
<div class="ms-Dialog is-open" style="display: none;">
    <div class="ms-Dialog-title">Новые сообщение</div>
    <div class="ms-Dialog-content">
        <div class="ms-TextField">
            <label class="ms-Label">Тема</label>
            <input class="ms-TextField-field ng-untouched ng-pristine ng-valid" type="text" ng-reflect-model="">
        </div>
        <div class="ms-TextField ms-TextField--multiline">
            <label class="ms-Label">Тело сообщения</label>
            <textarea class="ms-TextField-field ng-untouched ng-pristine ng-valid" type="text" ng-reflect-model=""></textarea>
        </div>
    </div>
    <div class="ms-Dialog-actions">
        <button class="ms-Button ms-Dialog-action">
            <span class="ms-Button-label">Отмена</span>
        </button>
        <button class="ms-Button  ms-Button--primary">
            <span class="ms-Button-label">Отправить</span>
        </button>
    </div>
</div>

<!-- Новая заметка -->
<div class="ms-Overlay ms-Overlay--dark" style="display: none"></div>
<div class="ms-Dialog is-open" style="display: none">
    <div class="ms-Dialog-title">Новая заметка</div>
    <div class="ms-Dialog-content">
        <div class="ms-TextField">
            <label class="ms-Label">Тема</label>
            <input class="ms-TextField-field ng-untouched ng-pristine ng-valid" type="text" ng-reflect-model="">
        </div>
        <div class="ms-TextField ms-TextField--multiline">
            <label class="ms-Label">Тело заметки</label>
            <textarea class="ms-TextField-field ng-untouched ng-pristine ng-valid" type="text" ng-reflect-model=""></textarea>
        </div>
        <div class="ms-ChoiceFieldGroup" id="choicefieldgroup" role="radiogroup">
          <ul class="ms-ChoiceFieldGroup-list">
            <div class="ms-RadioButton">
              <input tabindex="-1" type="radio" class="ms-RadioButton-input">
              <label role="radio" class="ms-RadioButton-field is-checked" tabindex="0" aria-checked="true" name="choicefieldgroup">
                <span class="ms-Label">Видна для всех</span>
              </label>
            </div>
            <div class="ms-RadioButton">
              <input tabindex="-1" type="radio" class="ms-RadioButton-input">
              <label role="radio" class="ms-RadioButton-field" tabindex="0" aria-checked="false" name="choicefieldgroup">
                <span class="ms-Label">Личная</span>
              </label>
            </div>
          </ul>
        </div>
        <script type="text/javascript">
          var ChoiceFieldGroupElements = document.querySelectorAll(".ms-ChoiceFieldGroup");
            for(var i = 0; i < ChoiceFieldGroupElements.length; i++) {
                new fabric['ChoiceFieldGroup'](ChoiceFieldGroupElements[i]);
            }
        </script>
        <div class="ms-Toggle">
          <input type="checkbox" id="demo-toggle-3" class="ms-Toggle-input">
          <label for="demo-toggle-3" class="ms-Toggle-field" tabindex="0">
            <span class="ms-Label ms-Label--off">Видна&nbsp;для&nbsp;всех</span>
            <span class="ms-Label ms-Label--on">Личная</span>
          </label>
        </div>
        <script type="text/javascript">
            var ToggleElements = document.querySelectorAll(".ms-Toggle");
            for(var i = 0; i < ToggleElements.length; i++) {
                new fabric['Toggle'](ToggleElements[i]);
            }
        </script>
    </div>

    <div class="ms-Dialog-actions">
        <button class="ms-Button ms-Dialog-action">
            <span class="ms-Button-label">Отмена</span>
        </button>
        <button class="ms-Button  ms-Button--primary">
            <span class="ms-Button-label">Отправить</span>
        </button>
    </div>
</div>

<div class="ms-Dialog is-open" style="display: block">
    <div class="ms-Dialog-title">Список пользователей</div>
    <div class="ms-Dialog-content">
        <div class="ms-PeoplePicker ms-PeoplePicker--facePile">
            <div class="ms-PeoplePicker-selected is-active">
              <ul class="ms-PeoplePicker-selectedPeople">
                <li class="ms-PeoplePicker-selectedPerson " tabindex="1">
                  <div class="ms-Persona ms-Persona--sm">
                    <div class="ms-Persona-imageArea">
                      <div class="ms-Persona-initials ms-Persona-initials--blue">RM</div>
                    </div>
                    <div class="ms-Persona-presence"></div>
                    <div class="ms-Persona-details">
                      <div class="ms-Persona-primaryText">Russel Miller</div>
                      <div class="ms-Persona-secondaryText">Sales</div>
                    </div>
                  </div>
                  <button class="ms-PeoplePicker-resultAction"><i class="ms-Icon ms-Icon--Clear"></i>
                  </button>
                </li>
                <li class="ms-PeoplePicker-selectedPerson " tabindex="1">
                  <div class="ms-Persona ms-Persona--sm">
                    <div class="ms-Persona-imageArea">
                      <div class="ms-Persona-initials ms-Persona-initials--purple">DF</div>
                    </div>
                    <div class="ms-Persona-presence"></div>
                    <div class="ms-Persona-details">
                      <div class="ms-Persona-primaryText">Douglas Fielder</div>
                      <div class="ms-Persona-secondaryText">Public Relations</div>
                    </div>
                  </div>
                  <button class="ms-PeoplePicker-resultAction"><i class="ms-Icon ms-Icon--Clear"></i>
                  </button>
                </li>
              </ul>
            </div>
        </div>
        <script type="text/javascript">
          var PeoplePickerElements = document.querySelectorAll(".ms-PeoplePicker");
          for(var i = 0; i < PeoplePickerElements.length; i++) {
            new fabric['PeoplePicker'](PeoplePickerElements[i]);
          }
        </script>
    </div>

    <div class="ms-Dialog-actions">
        <button class="ms-Button ms-Dialog-action">
            <span class="ms-Button-label">Отмена</span>
        </button>
        <button class="ms-Button  ms-Button--primary">
            <span class="ms-Button-label">Отправить</span>
        </button>
    </div>
</div>

</div>

{% endblock %}


{% block body_script %}

{% endblock %}
